<!doctype html>
<html lang="en">
  <head>
    <title>Hello HTMX-World!</title>
    <script
        type="text/javascript"
        th:src="@{/htmx/htmx-1.9.10.min.js}"
    ></script>

  </head>
  <body>

    <div hx-get="/hello-world"
      hx-trigger="click"
         hx-target="#result"
    >Sag Hallo Welt!</div>

    <!-- todo -->
    <!-- Neues div:
        hx-get="/hello-world"
        hx-trigger="click"
        hx-target="#result"
         -->

    <div id="result">

    </div>


  </body>
</html>
